<main class="chat-page">
	<div class="chat-page__left-column">
		<div class="profile-link">{{> iLink href="#" data-page="profilePage" text="Профиль >" }}</div>
		{{> inputField id="message-field" name="search" type="text" placeholder="Поиск контактов" error=""}}
		{{> chatContact }}
	</div>
	<div class="chat-page__right-column">
		<div class="messages-field">
			{{> chatMessage }}
		</div>
		<div class="typing-field">
			<p><img src="/images/skrepka.png" alt="Добавить вложение" /></p>
			<div>{{> inputField id="message-field" name="message" type="text" placeholder="Сообщение" error=""}}</div>
			<p>{{> roundButton id="message-send" disabled="true" }}</p>
		</div>
	</div>
</main>
