.chat-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: white;
  display: flex;
  gap: 0;
  &__left-column {
    width: 25%;
    min-width: 300px;
    border-right: 1px solid var(--border-color);
    padding: 15px;
    .profile-link {
      text-align: right;
      margin-bottom: 8px;
      a{
        color: var(--text-color);
        text-decoration: none;
      }
    }
  }
  &__right-column {
    width: 75%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .messages-field {
      flex-grow: 1;
      padding: 15px 15px 0 15px;
    }
    .typing-field {
      border-top: 1px solid var(--border-color);
      height: 75px;
      padding: 15px;
      display: flex;
      gap: 15px;
      align-items: center;
      justify-content: center;
      &>div {
        flex-grow: 1;
      }
      .input-field__error {
        display: none;
      }
    }
  }
}

