.chat-page {
  background-color: white;
  display: flex;
  gap: 0;
  height: 100vh;
  overflow: hidden;
  width: 100%;

  &__left-column {
    border-right: 1px solid var(--border-color);
    min-width: 360px;
    padding: 15px;
    width: 25%;

    .profile-link {
      margin-bottom: 8px;
      text-align: right;
    }
  }

  &__right-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 75%;
    max-height: 100vh;

    .header-field {
      align-items: center;
      border-bottom: 1px solid var(--border-color);
      display: flex;
      flex-grow: 0;
      height: 90px;
      padding: 15px;
      position: relative;
      &__avatar {
        background-color: var(--border-color);
        border-radius: 20px;
        flex-grow: 0;
        height: 40px;
        width: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .avatar-active {
          width: 45px;
          height: 45px;
          border: 0;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      &__name {
        font-weight: 600;
        margin-left: 15px;
      }

      &__actions {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        gap: 20px;
        button {
          width: auto;
        }

        .actions-button {
          align-items: center;
          background-color: var(--light-gray-color);
          border-radius: 13px;
          cursor: pointer;
          display: flex;
          height: 25px;
          justify-content: center;
          width: 25px;
        }
      }
    }
    .users-field {
      display: block;
      width: 100%;
      margin: 0;
      position: absolute;
      z-index: 2;
      left: 0;
      top:91px;
      background: white;
      padding: 10px;
      border-bottom: 1px solid var(--border-color);
      box-shadow: 0 4px 8px #0003;
      &__users-search{
        margin-top: 15px;
        .users-search__controls {
          display: flex;
          align-items: center;
          .input-field {
            flex-grow: 1;
          }
          .round-button {
            margin: 0 0 17px 5px;
          }
        }
      }
      &__results {
        display: inline-flex;
        gap: 10px;
        row-gap: 2px;
        max-width: 100%;
        flex-wrap: wrap;
      }
    }

  }
}



