.chat-page {
  background-color: white;
  display: flex;
  gap: 0;
  height: 100vh;
  overflow: hidden;
  width: 100%;

  &__left-column {
    border-right: 1px solid var(--border-color);
    min-width: 360px;
    padding: 15px;
    width: 25%;

    .profile-link {
      margin-bottom: 8px;
      text-align: right;
    }
  }

  &__right-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 75%;
  }
}

