.chat-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: white;
  display: flex;
  gap: 0;
  &__left-column {
    width: 25%;
    min-width: 300px;
    border-right: 1px solid var(--border-color);
    padding: 15px;
    .profile-link {
      text-align: right;
      margin-bottom: 8px;
    }
  }
  &__right-column {
    width: 75%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .header-field {
      display: flex;
      flex-grow: 0;
      padding: 15px;
      height: 90px;
      border-bottom: 1px solid var(--border-color);
      align-items: center;
      &__avatar {
        background-color: var(--border-color);
        border-radius: 20px;
        width: 40px;
        height: 40px;
        flex-grow: 0;
      }
      &__name {
        font-weight: 600;
        margin-left: 15px;
      }
      &__actions {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        .actions-button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25px;
          height: 25px;
          border-radius: 13px;
          background-color: var(--light-gray-color);
          cursor: pointer;
        }
      }
    }
    .messages-field {
      flex-grow: 1;
      padding: 15px 15px 0 15px;
      overflow: auto;
      .chat-messsage {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 15px;
        }
      }
    }
    .typing-field {
      border-top: 1px solid var(--border-color);
      height: 75px;
      padding: 15px;
      display: flex;
      gap: 15px;
      align-items: center;
      justify-content: center;
      &>div {
        flex-grow: 1;
      }
      .input-field__error {
        display: none;
      }
    }
  }
}

