.user-item {
  align-items: center;
  display: inline-flex;
  padding-right: 15px;
  text-decoration: none;
  white-space: nowrap;
  width: 30%;

  span {
    margin-bottom: 3px;
  }

  &__user-name {
    font-weight: 700;
  }

  &__add-button {
    display: inline-block;
    margin-left: 3px;

    img {
      width: 18px;
    }
  }
}
