.active-chat-window {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 90px);
  .messages-field {
    flex-grow: 1;
    overflow: auto;
    padding: 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: calc(100% - 90px);
    max-height: calc(100% - 90px);
    justify-content: flex-end;
  }

  .typing-field {
    align-items: center;
    border-top: 1px solid var(--border-color);
    display: flex;
    gap: 15px;
    height: 75px;
    justify-content: center;
    padding: 15px;

    #send-message-form {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      gap: 10px;

      .input-field {
        flex-grow: 1;
      }
    }

    .input-field__error {
      display: none;
    }
  }
}
