
.user-list-item-container {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 3px;
  span {
    display: inline-block;
  }
  .user-list-item {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    a{
      text-decoration: none;
      display: inline-block;
      font-size: 0;
    }
    img {
      width: 18px;
    }
    .user-name{
      font-weight: 700;
    }
  }
}

