<div class="user-list-item-container">
	<div class="user-list-item">
		<span><span class="user-name">{{{userName}}}</span>({{{userLogin}}})</span>
		{{#if notMe}}{{{deleteUser}}}{{/if}}
	</div>
	{{{kickUserFromChatPopUp}}}
</div>
