<h3>Список страниц:</h2>
{{> iLink href="#" data-page="loginPage" text="Логин" }}<br/>
{{> iLink href="#" data-page="registerPage" text="Регистрация" }}<br/>
{{> iLink href="#" data-page="chatPage" text="Чат" }}<br/>
{{> iLink href="#" data-page="page5xx" text="5xx" }}<br/>
{{> iLink href="#" data-page="page404" text="404" }}<br/>
{{> iLink href="#" data-page="profilePage" text="Профиль" }}<br/>
