<button data-page="{{data-page}}" id="{{id}}" type="button" class="round-button {{class}}" {{#if disabled}} disabled{{/if}}>
<!--	<img src="/images/arrow.png" alt="Аватар по умолчанию" width="12"/>-->
</button>
