.round-button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-image: url('/images/arrow.png');
  background-position: center center;
  background-size: 40%;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  &.rotate {
    transform: rotate(0deg);
  }
}
