@use './reset.scss' as *;

:root {
  --primary-color: #3498db;
  --secondary-color: #2c3e50;
  --background-color: #efefef;
  --text-color: #242424;
  --error-color: #e74c3c;
  --border-color: #cdcdcd;
  --danger-color: #cc0000;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}
h2 {
  font-size: 20px;
  font-weight: 500;
}
h3 {
  font-size: 28px;
  font-weight: 400;
}

/* Layout */

.centeres-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
