
body {
  font-family: Arial, sans-serif;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fefefe;
  h1 {
    color: red;
    &.blue {
      color: blue;
    }
  }
}
