@use './reset.scss' as *;

:root {
  --primary-color: #363ef8;
  --disabled-color: #86888f;
  --background-color: #efefef;
  --text-color: #242424;
  --border-color: #cdcdcd;
  --danger-color: #c00;
  --light-blue-color: #E4EDFD;
  --light-gray-color: #F8F8F8;
  --background-pop-up: rgb(0 0 0 / 50%);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Inter, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  text-align: center;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

h4 {
  font-size: 14px;
  font-weight: 400;
}

a {
  color: var(--primary-color)
}

/* Layout */

.centeres-container {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}


/* Common classes */

.danger {
  color: var(--danger-color)
}

.hidden {
  display: none;
}

.avatar-letter {
  align-items: center;
  background: var(--danger-color);
  border-radius: 16px;
  color: white;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  height: 32px;
  justify-content: center;
  width: 32px;
}
