<div class="login-container centeres-container">
	<div class="login-window">
		<h2>Регистрация</h2>
		<form id="register-form" action="">
			<div class="login-window__input-container">
				{{> inputField id="input-login" type="text" placeholder="Введите логин" error="Нет такого логина"}}
			</div>
			<div class="login-window__input-container">
				{{> submitButton id="signup-button" text="Зарегистрироваться"}}
			</div>
		</form>
		<div class="login-window__input-container register-link">
			{{> iLink href="#" data-page="loginPage" text="Войти" }}
		</div>
	</div>
</div>
