<a
	href="{{href}}"
	class="i-link{{# if class }} {{class}}{{/ if }}{{# if disabled }} disabled{{/ if }}"
	data-page="{{datapage}}"
	{{# if disabled }}data-disabled="disabled"{{/ if }}
>
	{{text}}
</a>
