<main class="error-page centeres-container">
	<h1>{{#if errorCode}}{{errorCode}} {{else}}Неизвестная ошибка сервера{{/if}}</h1>
	<div class="message">Мы уже фиксим</div>
	<div>{{{ LinkBack }}}</div>
</main>
