<div class="chat-contact">
	<div class="chat-contact__avatar"></div>
	<div class="chat-contact__body">
		<div class="user-name">Андрей</div>
		<div class="user-last-action">Ваше слово, товарищ маузер.</div>
	</div>
	<div class="chat-contact__events">
		<div class="events-date">10:45</div>
		<div class="events-count">10+</div>
	</div>
</div>
