<div class="chat-contact">
	<div class="chat-contact__avatar"></div>
	<div class="chat-contact__body">
		<div class="user-name">{{name}}</div>
		<div class="user-last-action">{{message}}</div>
	</div>
	<div class="chat-contact__events">
		<div class="events-date">{{time}}</div>
		<div class="events-count">{{unread}}+</div>
	</div>
</div>
