/* 2DO: скин для авторских мессаджей */
.chat-messsage {
  background-color: var(--light-gray-color);
  border-radius: 8px;
  padding: 15px 15px 30px;
  max-width: 75%;
  position: relative;
  .message-date {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 10px;
    color: var(--disabled-color);
  }
}

