<h3>Список страниц:</h3>
<ul>
	<li>{{> iLink href="#" data-page="LoginPage" text="Логин" }}</li>
	<li>{{> iLink href="#" data-page="RegisterPage" text="Регистрация" }}</li>
	<li>{{> iLink href="#" data-page="ChatPage" text="Чат" }}</li>
	<li>{{> iLink href="#" data-page="Page5xx" text="5xx" }}</li>
	<li>{{> iLink href="#" data-page="Page404" text="404" }}</li>
	<li>{{> iLink href="#" data-page="ProfilePage" text="Профиль" }}</li>
</ul>
