<h3>Список страниц:</h3>
<ul>
	<li>{{> iLink href="#" datapage="LoginPage" text="Логин" }}</li>
	<li>{{> iLink href="#" datapage="RegisterPage" text="Регистрация" }}</li>
	<li>{{> iLink href="#" datapage="ChatPage" text="Чат" }}</li>
	<li>{{> iLink href="#" datapage="Page5xx" text="5xx" }}</li>
	<li>{{> iLink href="#" datapage="Page404" text="404" }}</li>
	<li>{{> iLink href="#" datapage="ProfilePage" text="Профиль" }}</li>
</ul>
