<div class="input-field{{# if skin }} {{ skin }}{{/ if }}{{# if class }} {{ class }}{{/ if }}">
	<label class="input-field__body">
		{{{ Input }}}
	</label>
	<div class="input-field__error{{# if ErrorLine }} error{{/ if }}">
		<div class="error-message">
			{{# if ErrorLine }}{{{ ErrorLine }}}{{/ if }} &nbsp;
		</div>
	</div>
</div>














