.input-field {
  font-size: 12px;

  &__body{
    align-items: stretch;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    cursor: text;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    padding: 12px;
    width: 100%;

    .input-element{
      background-color: transparent;
      border: none;
      box-shadow: none;
      caret-color: var(--text-color);
      color: var(--text-color);
      flex: 1 1 auto;
      font-size: 16px;
      line-height: inherit;
      outline: none;
      padding: 0;
      width: 100%;
    }
  }

  &__error {
    &.error {
      .error-message {
        color: var(--danger-color);
        margin-top: 8px;
        overflow: hidden;
        position: relative;
        text-align: left;
      }
    }
  }

  &.inline {
    .input-field__body {
      border: none;
      padding: 0;
    }
  }
}
