<main class="profile-page">
	<div class="profile-page__left-column">
		{{> roundButton id="button-back-to-chat" data-page="chatPage" class="i-link rotate"}}
	</div>
	<div class="chat-page__right-column">

	</div>
</main>
