<main class="profile-page">
	<div class="profile-page__left-column">
		{{> roundButton id="button-back-to-chat" data-page="chatPage" class="i-link rotate"}}
	</div>
	<div class="profile-page__right-column">
		<form action="#" name="profile-form" id="change-profile-form">
		<div class="profile__avatar-container">
			<div class="avatar"><img src="/images/default-avatar.png" alt="Аватар по умолчанию" /></div>
			<span>{{ creditionals.display_name }}</span>
			{{> inputField type="file" name="avatar" placeholder="" class="hidden"}}
		</div>
		<ul class="profile__userdata-container">
			{{#each creditionals}}
				<li class="userdata__item">
					<div class="userdata__item-label">{{ fieldLabel @key}}</div>
					<div class="userdata__item-field">{{> inputField value=this name=@key skin="inline" placeholder="" }}</div>
				</li>
			{{/each}}
		</ul>
		<ul class="profile__actions-container">
			<li class="actions__item">{{> iLink href="#" text="Изменить данные" }}</li>
			<li class="actions__item">{{> iLink href="#" text="Изменить пароль" }}</li>
			<li class="actions__item">{{> iLink href="#" text="Выйти" }}</li>
			<li class="actions__item">{{> iLink href="#" text="Удалить профиль" class="danger" }}</li>
		</ul>
			{{> inputField type="password" name="oldPassword" placeholder="" class="hidden"}}
			{{> inputField type="password" name="newPassword" placeholder="" class="hidden"}}
		</form>
	</div>
</main>
