.profile-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: white;
  display: flex;
  gap: 0;
  &__left-column {
    width: 64px;
    border-right: 1px solid var(--border-color);
    padding: 15px;
    background-color: var(--light-gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__right-column {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: auto;
    .profile__avatar-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px;
      .avatar{
        border-radius: 65px;
        background-color: var(--background-color);
        width: 130px;
        height: 130px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      span {
        font-weight: 500;
      }
    }
    #change-profile-form {
      width: 510px;
      ul.profile__userdata-container {
        margin-bottom: 30px;
        li.userdata__item {
          display: flex;
          font-size: 16px;
          padding: 8px 0 8px;
          border-bottom: 1px solid var(--border-color);
          &:last-child {
            border: none;
          }
          .userdata__item-field {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
            .input-field {
              width: 300px;
              .input-element {
                text-align: right;
              }
            }
          }
        }
      }
      ul.profile__actions-container {
        li.actions__item {
          padding: 8px 0 8px;
          border-bottom: 1px solid var(--border-color);
          &:last-child {
            border: none;
          }
        }
      }
    }
  }
  .input-field__error {
    display: none;
  }
}


