.profile-page {
  background-color: white;
  display: flex;
  gap: 0;
  height: 100vh;
  overflow: hidden;
  width: 100%;

  &__left-column {
    align-items: center;
    background-color: var(--light-gray-color);
    border-right: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 64px;
  }

  &__right-column {
    align-items: center;
    display: flex;
    flex-grow: 1;
    height: 100vh;
    justify-content: center;
    overflow: auto;

    .profile__avatar-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      .avatar{
        align-items: center;
        background-color: var(--background-color);
        border-radius: 65px;
        display: flex;
        height: 130px;
        justify-content: center;
        margin-bottom: 15px;
        width: 130px;
      }

      span {
        font-weight: 500;
      }
    }

    #change-profile-form {
      width: 510px;

      ul.profile__userdata-container {
        margin-bottom: 30px;

        li.userdata__item {
          //border-bottom: 1px solid var(--border-color);
          display: flex;
          font-size: 16px;
          padding: 6px 0;

          &:last-child {
            border: none;
          }
          .userdata__item-label {
            padding-top: 12px;
          }
          .userdata__item-field {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;

            .input-field {
              width: 300px;

              .input-element {
                text-align: right;
              }
            }
          }
        }
      }

      ul.profile__actions-container {
        li.actions__item {
          border-bottom: 1px solid var(--border-color);
          padding: 8px 0;

          &:last-child {
            border: none;
          }
        }
      }
    }
  }

  .input-field__error {
    //display: none;
  }
  .profile-submit-button  {
    border: none;
    background: transparent;
    color: var(--primary-color);;
    text-align: left;
    padding: 0;
    font-size: 14px;
    cursor: pointer;
  }
}


