<div class="login-container centeres-container">
	<div class="login-window">
		<h2>Вход</h2>
		<div class="login-window__input-container">
			{{> inputField id="login-page-input" type="text" placeholder="Введите логин" error="error"}}
		</div>
	</div>
</div>
