<main class="login-container centeres-container">
	<div class="login-window">
		<h2>Вход</h2>
		<form id="login-form">
			<div class="login-window__input-container">
				{{{ loginField }}}
			</div>
			<div class="login-window__input-container">
				{{{ passwordField }}}
			</div>
			<div class="login-window__input-container">
				{{{ submitButton }}}
			</div>
		</form>
		<div class="login-window__input-container register-link">
			{{{ LinkBack }}}
		</div>
	</div>
</main>
