.login-container {
  width: 100%;
  height: 100vh;
  .login-window {
    width: 360px;
    background: white;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 6px 0 #00000024;
    border-radius: 8px;
    padding: 30px;
    &__input-container {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}

