<div class="chat-messsage{{#if mymessage}} my-message{{/if}}" id="{{{id}}}">
	{{#if userName}}<div class="user-name">{{{userName}}}:</div>{{/if}}
	{{{content}}}
	<div class="message-date">{{{time}}}</div>
</div>
