<div id="sidebar" class="sidebar">
  <div class="sidebar__header">
    {{{profileLink}}}
  </div>
  {{{searchField}}}
  <div class="chats-list">
    {{#each chatList}}
      {{{chatList}}}
    {{/each}}
  </div>
</div>
